/**********************************/
/* Configurações Padrão
/**********************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

/**********************************/
/* Scrollbar
/**********************************/
::-webkit-scrollbar{
    width: 1.8rem;
    height: 1.8rem;
}

::-webkit-scrollbar-track{
    background: #363636;
}

::-webkit-scrollbar-thumb{
    background: #FF00FF;;
    border-radius: 100vw;
    border: .30em solid #363636;
}

::-webkit-scrollbar-thumb:hover{
    background: #b900b9;
}

/**********************************/
/* Códigos Repetidos
/**********************************/
a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    color: #000;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: 05.rem;
}

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span{
    color: #FF00FF;
}

/**********************************/
/* Section Principal
/**********************************/
#principal{
    background-image: url(/assets/img/background-principal.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    
}

#principal::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .7;
    z-index: -1;
}

#principal .principal{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#principal h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#principal h1:nth-child(1){
    animation-delay: 1s;
}

#principal h1:nth-child(2){
    animation-delay: 2s;
}

#principal h1:nth-child(3){
    animation-delay: 3s;
}

#principal h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #FF00FF; 
    animation: text_reveal_box 1s ease;  
    animation-delay: .5s;
}

#principal h1:nth-child(1) span{
    animation-delay: .5s;
}

#principal h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#principal h1:nth-child(3) span{
    animation-delay: 2.5s;
}

#principal .cta{
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #FF00FF;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#principal .cta:hover{
    color: white;
    background-color: #FF00FF;
}

/**********************************/
/* Section Serviços
/**********************************/
#servicos .servicos{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#servicos .servicos-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#servicos .servico-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(/assets/img/img-1.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#servicos .servico-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    z-index: -1;
}

#servicos .servicos-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

#servicos .servico-item h2{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#servicos .servico-item p{
    color: white;
    text-align: left;
}

/**********************************/
/* Section Projetos
/**********************************/
#projetos .projetos{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projetos .projetos-header{
    margin-bottom: 50px;
}

#projetos .todos-projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projetos .projeto-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projetos .projeto-info{
    padding: 30px;
    flex-basis: 50%;
    background-color: #fff;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #b900b9;
    color: #fff;
    
}

#projetos .projeto-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#projetos .projeto-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projetos .projeto-info p{
    color: #fff;
}

#projetos .projeto-img{
    flex-basis: 50%;
    height: 300px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#projetos .projeto-img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .7;
}

#projetos .projeto-img img{
    transition: .5s ease transform;
}

#projetos .projeto-item:hover .projeto-img img {
    transform: scale(1.1);
}

/**********************************/
/* Keyframes
/**********************************/
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: white;

    }
}