/**********************************/
/* Configurações Padrão
/**********************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/**********************************/
/* Scrollbar
/**********************************/
::-webkit-scrollbar{
    width: 1.8rem;
    height: 1.8rem;
}

::-webkit-scrollbar-track{
    background: #363636;
}

::-webkit-scrollbar-thumb{
    background: #7c42ff;
    border-radius: 100vw;
    border: .30em solid #363636;
}

::-webkit-scrollbar-thumb:hover{
    background: #5912ff;
}

/**********************************/
/* Códigos Repetidos
/**********************************/
a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    color: #000;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: 05.rem;
}

hr{
	border: none;
	background-color: #7c42ff;
	height: 2px;
	width: 200px;
	margin: 20px auto;
}

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span{
    color: #7c42ff;
}

.cta{
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #7c42ff;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover{
    color: white;
    background-color: #7c42ff;
}

.btn-projetos{
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 15px;
}

.marca h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #fff;
}

.marca h1 span{
    color: #7c42ff;
}

/**********************************/
/* Header
/**********************************/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header{
    min-height: 12vh; 
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    Left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active{
    left: 0%;
}

#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.281);
    font-size: 10rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .5s ease letter-spacing;
}

#header .nav-list ul li:hover a::after{
    left: 50%;transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a{
    color: #7c42ff;
}

#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid #7c42ff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

#header .hamburger:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #7c42ff;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: #fff;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #fff;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after{
    top: 8px;  
}

#header .hamburger .bar::before{
    bottom: 8px;  
}

#header .hamburger.active .bar::after{
    top: 0;
}

#header .hamburger.active .bar::before{
    bottom: 0;
}

/**********************************/
/* Section Principal
/**********************************/
#principal{
    background-image: url(/assets/img/background-principal.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    
}

#principal::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .7;
    z-index: -1;
}

#principal .principal{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#principal h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#principal h1:nth-child(1){
    animation-delay: 1s;
}

#principal h1:nth-child(2){
    animation-delay: 2s;
}

#principal h1:nth-child(3){
    animation-delay: 3s;
}

#principal h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #7c42ff; 
    animation: text_reveal_box 1s ease;  
    animation-delay: .5s;
}

#principal h1:nth-child(1) span{
    animation-delay: .5s;
}

#principal h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#principal h1:nth-child(3) span{
    animation-delay: 2.5s;
}

/**********************************/
/* Section Conhecimentos
/**********************************/
#conhecimentos .conhecimentos{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#conhecimentos .conhecimentos-top{
    max-width: 600px;
    margin: 0 auto;
}

#conhecimentos .conhecimentos-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#conhecimentos .conhecimento-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(/assets/img/img-1.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#conhecimentos .conhecimento-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    z-index: -1;
}

#conhecimentos .conhecimentos-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

#conhecimentos .conhecimento-item h2{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#conhecimentos .conhecimento-item p{
    color: white;
    text-align: left;
}

/**********************************/
/* Section Projetos
/**********************************/
#projetos .projetos{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projetos .projetos-header{
    margin-bottom: 50px;
}

#projetos .todos-projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projetos .projeto-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projetos .projeto-info{
    padding: 30px;
    flex-basis: 50%;
    background-color: #fff;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #7c42ff;
    color: #fff;
    
}

#projetos .projeto-info h1{
    font-size: 4rem;
    font-weight: 500;
    color: #000;
}

#projetos .projeto-info h2{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}

#projetos .projeto-info p{
    color: #fff;
}

#projetos .projeto-img{
    flex-basis: 50%;
    height: 300px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#projetos .projeto-img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .4;
}

#projetos .projeto-img img{
    transition: .5s ease transform;
}

#projetos .projeto-item:hover .projeto-img img {
    transform: scale(1.1);
}

/**********************************/
/* Section Sobre 
/**********************************/
#sobre .sobre{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200;
    margin: 0 auto;
    padding: 100px 20px;
}

#sobre .col-left{
    width: 250px;
    height: 360px;
}

#sobre .col-right{
    width: 100%;
}

#sobre .col-right h2{
    font-size: 1.9rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#sobre .col-right p{
    margin-bottom: 20px;
}

#sobre .col-right .cta{
    color: #000;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 2rem;
}

#sobre .col-left .sobre-img{
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid #fff;
}

#sobre .col-left .sobre-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid #7c42ff;
    z-index: -1;
}

/**********************************/
/* Section Contato
/**********************************/
.contactUs{
    position: relative;
    width: 100%;    
    padding: 100px 100px;
}

.form{
   grid-area: form; 
}

.info{
    grid-area: info; 
}

.map{
    grid-area: map; 
}

.contact{
    padding: 40px;
    background: #7c42ff;
    box-shadow: 0 5px 35px rgba()0, 0, 0, 0.15;
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact p{
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contact h2{
    color: #000;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

/* Form Contato */
.formBox{
    position: relative;
    width: 100%;
}

.form .row50{
    display: flex;
    gap: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.form .row100 .inputBox{
    width: 100%;
}

.input h2{
    color:#000;
    margin-top: 1px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.5em;
    outline: none;
    border: 1px solid #000;
}

.inputBox textarea{
    padding: 10px;
    font-size: 1.5em;
    outline: none;
    border: 1px solid #000; 
    resize: none;
    min-height: 220px; 
    margin-bottom: 10px;
}

.inputBox input[type="submit"]{
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: transparent;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .3s ease;
    transition-property: background-color, color;    
    cursor: pointer;
}

.inputBox input[type="submit"]:hover{
    color: white;
    background-color: #000;
}

.inputBox ::placeholder{
    color: #999;
}

/* Info */
.info{
    background-color: #000;
}

.info h3{
    color: #fff;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span{
    min-width: 60px;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-right: 15px;
}

.info .infoBox div p{
   color: #fff; 
   font-size: 1.3em;
}

.info .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
}

/* Map */
.map{
    padding: 0;
}

.map iframe{
    width: 100%;
    height: 100%;
}

/**********************************/
/* Footer
/**********************************/
#footer{
    background-color: #000;
}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; /*VER DEPOIS EU QUE COLOQUEI*/
}

#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

/*
********ICONE SEM COR********
#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
}

#footer .social-item:hover img{
    filter: grayscale(0);
}
*/

#footer p{
    color: #c0c0c0;
    font-size: 1.3rem;
}

/**********************************/
/* Keyframes 
/**********************************/
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: white;
    }
}

/**********************************/
/* Media Query Para Tablet
/**********************************/
@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }

    /* Media Query: Principal */
    #principal h1{
        font-size: 7rem;
    }

    /* Media Query: Serviços */
    #conhecimentos .conhecimentos-bottom .conhecimento-item{
        flex-basis: 40%;
        margin: 2.5%;
    }

    /* Media Query: Projetos */
    #projetos .projeto-item{
        flex-direction: row;
    }

    #projetos .projeto-item:nth-child(even){
        flex-direction: row-reverse;
    }

    #projetos .projeto-item{
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
        padding: 10px;
    }
    
    #projetos .todos-projetos .projeto-info{
        height: 100%;
    }

    #projetos .todos-projetos .projeto-img{
        height: 100%;
    }

    /* Media Query: Sobre */
    #sobre .sobre{
        flex-direction: row;
    }

    #sobre .col-left{
        width: 500px;
        height: 400px;
        padding-left: 60px;
    }

    #sobre .sobre .col-left .sobre-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #7c42ff;
    }

    #sobre .col-right{
        text-align: left;
        padding: 30px;
    }

    #sobre .col-right h1{
        text-align: left;
    }
}

/* Media Query: Contato */
@media (max-width: 991px){
    .contactUs{
        padding: 20px;
    }

    .box{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: none
        "form"
        "info"
        "map";
    }

    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputBox{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 100%;
    }

    .contact{
        padding: 30px;
    }

    .map{
        min-height: 300px;
        padding: 0;
    }
}

/**********************************/
/* Media Query Para Desktop
/**********************************/
@media only screen and (min-width:1200px){
    /* Media Query: Header */
    #header .hamburger{
        display: none;
    }

    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li{
        display: inline-block;
    }

    #header .nav-list ul li a{
        font-size: 1.5rem;
    }

    #header .nav-list ul a:after{
        display: none;
    }

    /* Media Query: Serviços*/
    #conhecimentos .conhecimentos-bottom .conhecimento-item{
        flex-basis: 22%;
        margin: 1.5%;
    }
}